body {
   margin:0px 60px 60px;
   font-family: 'Roboto', sans-serif;
}
.wrapper {
      display: flex;
}

#header {
   padding:55px 0px;
}

.left {float: left;}
.right {float: right;}

span {color: gray; font-weight: 300; font-size: 13px;}

.namespan {color: gray; font-weight: 300; font-size: 16px;}

.nameblack {color: #BDBDBD;}

a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none,}

.menu-logo {
   width: 30px;
   opacity: 1;
}

.menu-logo:hover {
   opacity: 0.5;
}
/*---------------------------------------------------------------------HEADER*/
section {
   width: 33.33%;
   transition: all 0.5s ease-in-out;
}

.middle-colonne {
   margin: 0 4%;
}

.img-responsive {
   width: 100%;
   margin-bottom: 20px;
   margin-top: 20px;
}

.arrow-up {
   float: right;

}
/*BURGERPAGE-----------------------------------------------------------------*/
.burger-page {
   width: 100vw;
   height: 100vh;
   background-color: #151515;
   display: none;
   z-index: 1;
   position: fixed;
   top: 0;
   right: 0;
   transition: all 0.5s ease-in-out;


}

.menu-logo-close {
   float: right;
   opacity: 1;
   width: 20px;
   padding: 55px 60px 0px 0px;
   transition: all 0.5s ease-in-out;

}

.content-burger-page {
   padding:55px 60px;
}


.category-content {
   margin-top: 42vh;
   transform: translateY(-50%);
}

.category  {
   display: flex;
   text-align: left;
   letter-spacing: 1px;
   font-weight: 300;

}

.category a {
   color: #848484;
   font-size: 70px;
   line-height: 82px;
   transition: all 0.5s ease-in-out;
}

.category a:hover {
   color: black;
}

.category:last-child {
   padding-right: 0px;
}
.copyright-bottom {
   position: absolute;
   bottom: 7%;
   color: #BDBDBD;
   font-weight: 300;
   font-size: 13px;
}

.contact a{
   position: absolute;
   bottom: 7%;
   right: 6%;
   color: #BDBDBD;
   font-weight: 400;
   font-size: 18px;

}

/*-----------------------------------------------------------------RESPONSIVE*/

@media only screen and (max-width:1200px) {

   .wrapper {
         display: flex;
         flex-wrap: wrap;
   }
   section {
      width: 47.9%;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 4%;
      transition: all 0.5s ease-in-out;
   }
}

@media only screen and (max-width:980px) {

   .wrapper {
         display: flex;
         flex-direction: column;
   }
   section {
      width: 400px;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 0px;
   }

}

@media only screen and (max-width:600px) {

   body {
      font-size: 1em;
   }
   .wrapper {
         display: flex;
         flex-direction: column;
   }

   section {
      width: 100%;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 0px;
   }

   .left {
      width: 200px;
      text-align: left;
   }

   span {
      padding: 0px;
   }

   .category  {
      display: block;
      letter-spacing: 1px;
      text-align: left;
      padding: 0px;
   }

   .category a {
      color: #848484;
      font-size: 22px;
      line-height: 40px;
      text-align: center;
   }

}

@media only screen and (max-width:500px) {

   /*body {
      margin: 35px;
      transition: all 0.5s ease-in-out;
   }

   #header {
      padding-top: 0px;
      transition: all 0.5s ease-in-out;
   }

   .content-burger-page {
      padding:55px 35px;
   }*/
}
   /*------------------------------------------------------------------------*/