body {
   margin:0px 60px 60px;
   font-family: "Gotham-Light";
}

@font-face {
	font-family: "Gotham-Bold";
	src: url('../fonts/Gotham-Bold.otf');
}
@font-face {
	font-family: "Gotham-Light";
	src: url('../fonts/Gotham-Light.otf');
}


.wrapper {
      display: flex;
}

#header {
   padding:55px 0px;
   width: 100%;
   display: block;
}

.left {float: left;}
.right {float: right;}

strong.name-fred{ font-family: "Gotham-Bold"; color:#151515; font-weight: 500;transition: all 0.5s ease-in-out;}
strong.name-fred:hover {color: #848484; transition: all 0.5s ease-in-out;}


span {font-family: "Gotham-Light"; color: gray; font-weight: 400; font-size: 13px; letter-spacing: 0.7;}

.namespan {color: #424242; font-weight: 300; font-size: 16px;}

.nameblack {color: #BDBDBD;font-weight: 500;}

a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none,}

.swiper-container {
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0px;
}


img .img_diapo {
		transition: all 0.8s ease-in-out;
      opacity: 1;
}

.baseline-img {
   font-family: 'Gotham-Bold';
   font-size: 13px;
}

.img-responsive {
   margin-top: 20px;
}

.img-responsive:first-child{
   margin-top:0px;
}

.baseline-imgMargin {
   margin-bottom: 20px;
}

/*---------------------------------------------------------------------HEADER*/
section {
   width: 33.33%;
   transition: all 0.5s ease-in-out;
}

section.full-colonne {
   width: 100%;
}

.middle-colonne {
   margin: 0 4.5%;
}

.img-responsive {
   width: 100%;
   margin-bottom: 10px;
}

.img-responsive-top {
   margin-top: 0px;
}

.img-video-margin {
   margin-top: 45px;
}

.arrow-up {
   float: right;
   margin-bottom: 30px;
   transition: all 0.5s ease-in-out;
}

.arrow-up:hover {
   float: right;
   opacity: 0.7;
}

/*-----------------------------------------------------------SLIDESHOW-------*/

.swiper-container {
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*BURGERPAGE-----------------------------------------------------------------*/
.burger-page {
      width: 100vw;
     height: 100vh;
     background-color:#D8D8D8;
     display: none;
     z-index: 1;
     position: fixed;
     top: 0;
     right: 0;
     overflow: hidden;
}

.menu-logo-close {
   float: right;
   opacity: 1;
   width: 20px;
   padding: 55px 60px 0px 0px;
   transition: all 0.5s ease-in-out;
}


.menu-logo-close:hover {
   opacity: 0.3;
}

.content-burger-page {
   padding:55px 60px;
   transition: all 0.5s ease-in-out;
}


.category-content {
   margin-top: 42vh;
   transform: translateY(-50%);
   transition: all 0.5s ease-in-out;
}

.category  {
   display: flex;
   text-align: left;
   letter-spacing: 1px;
   font-weight: 300;
   transition: all 0.5s ease-in-out;
   font-family: "Gotham-Light";

}

.category a {
   color: #848484;
   font-size: 60px;
   line-height: 65px;
   font-family: "Gotham-Light";
}

.category a:hover {
   color: #151515;
}

.category:last-child {
   padding-right: 0px;
}

.copyright-bottom {
   position: fixed;
   bottom: 7%;
   right: 0%;
   color: #848484;
   font-weight: 300;
   font-size: 18px;
   margin-right: 65px;
   z-index: -1;
}



.social {
   position: absolute;
   bottom: 7%;
   float: right;
}

.tel {font-size: 17px;}

.contact-me {
   font-family: 'Gotham-Bold';
}

.contact-me:first-child {
   padding-right: 40px;
}
.icon {
   width: 15px;
   transition: all 0.5s ease-in-out;
}

.icon-insta {
   margin-left: 40px;

}
.icon-vimeo, .icon-fb {
   margin-left: 10px;
}


.icon:hover{
   opacity: 0.7;
}


/*--------------------------------------------------------------------404PAGE*/

.content-404 {
   font-size: 30px;
   margin-top: 45vh;
   transform: translateY(-50%);
   color: #A4A4A4;
   text-align: center;
}

.h1-404 {
   font-size: 70px;
   font-family: 'Gotham-Light';
}

.txt-404 {
   margin-top: 20px;
   font-size: 28px;
}


/*-----------------------------------------------------------------RESPONSIVE*/

@media only screen and (max-width:1200px) {

   .wrapper {
         display: flex;
         flex-wrap: wrap;
   }
   section {
      width: 47.9%;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 4%;
      transition: all 0.5s ease-in-out;
   }
}


@media only screen and (max-width:980px) {

   .wrapper {
         display: flex;
         flex-direction: column;
   }
   section {
      width: 400px;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 0px;
   }

   .category a {
      color: #848484;
      font-size: 55px;
      line-height: 60px;
      transition: all 0.5s ease-in-out;
   }

}

@media only screen and (max-width:600px) {

   body {
      font-size: 1em;
      margin:0px 60px 0px;
      transition: all 0.5s ease-in-out;
   }

   .wrapper {
         display: flex;
         flex-direction: column;
   }

   section {
      width: 100%;
      display: flex;
      transition: all 0.5s ease-in-out;
   }

   .middle-colonne {
      margin: 0 0 0 0px;
   }

   .left {
      width: 200px;
      text-align: left;
   }

   span.namespan {
      display: none;
      transition: all 0.5s ease-in-out;
   }

   .copyright-bottom {
      display: none;
   }

   .category  {
      display: block;
      letter-spacing: 1px;
      text-align: left;
      padding: 0px;
      transition: font-size .5s ease;
   }

   .category a {
      color: #848484;
      font-size: 40px;
      line-height: 55px;
   }

   .h1-404 {
      font-size: 40px;
      font-family: 'Gotham-Light';
   }

   .txt-404 {
      margin-top: 20px;
      font-size: 28px;
   }
}

@media only screen and (max-width:450px) {
   body{
      margin: 35px;
      transition: all 0.5s ease-in-out;
   }

   .content-burger-page {
      padding:35px 35px;
      transition: all 0.5s ease-in-out;
   }


   .menu-logo-close {
      padding-right: 35px;
      padding-top: 35px;
      transition: all 0.5s ease-in-out;
   }

   .copyright-bottom {
      display: none
   }

   .contact-me:first-child {
      display: block;
   }
   #header {
      margin-top: 10px;
      padding-top: 0px;
   }

   .arrow-up {
      padding-bottom: 35px;
      transition: all 0.5s ease-in-out;
   }

   p.left {line-height: 18px;}

   .img-responsive:first-child {
    transition: all 0.8s ease-in-out;
    margin-top: 0px;
    }

    .category a {
      color: #848484;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 11vw;
      line-height: 7vh;
}

.arrow-up {padding-bottom: 30px;}

}
/*------------------------------------------------------------------------*/
